@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  max-width: 1000px;
  width: 100%;
  font-family: "GmarketSans", sans-serif;
  background-color: #e6e6e6;
  margin: auto;
  margin-top: 30px;
}

body .material-symbols-outlined {
  font-size: 40px;
  padding: 10px;
}

.material-symbols-outlined a {
  color: black;
}

header {
  background-color: #fff;
  height: 115px;
  margin-bottom: 20px;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #333;
  font-style: normal;
  padding: 10px 20px;
}

h2 {
  color: #333;
  border-bottom: 2px solid gray;
  background-color: aquamarine;
  padding: 5px;
}

h3 {
  text-align: center;
  margin: 20px;
}

article::after {
  content: "";
  display: block;
  clear: both;
}

.list {
  margin-bottom: 10px;
}

.list li {
  display: inline;
  margin-left: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.list li a {
  display: inline-block;
  width: 200px;
  color: rgb(7, 2, 72);
  border: 1px solid lightgray;
  height: 35px;
  /* line-height: 35px; 배경 중앙에 텍스트 정렬 할 수 있는 방법 */
  line-height: 35px;
  text-align: center;
  transition: width 1s, height 1s;
}

.list li a:hover {
  width: 250px;
}

a {
  text-decoration: none;
  color: rgb(1, 126, 103);
  width: 200px;
}

a:hover {
  color: red;
  text-decoration: underline;
}

#home {
  margin-bottom: 20px;
  float: left;
  width: 45%;
  margin-right: 20px;
}

#diary {
  float: left;
  width: 45%;
}

#home,
#diary {
  background-color: #fff;
  padding: 20px;
  font-weight: 400;
}

ol {
  padding: 30px 0px;
  padding-left: 30px;
}

#home ul,
#diary ul {
  padding-left: 20px;
  color: rgb(1, 126, 103);
}

p {
  color: rgb(66, 66, 66);
}

ol li {
  padding: 5px;
  font-size: 18px;
}

ol li > ul li {
  padding: 5px;
}

footer > h3 {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  text-align: center;
  line-height: 100px;
  border-radius: 100px;
}
