body {
  text-align: center;
}
a{
    background-color: black;
    color: aliceblue;
}
h1{
    background-color: blueviolet;
    font-size: 46px;
    padding: 10px;
    color: aliceblue;
}
h2{
    background-color: red;
    color: aliceblue;
    padding: 5px;
}


